html{
    scroll-behavior: smooth;
}

html, body{
    min-height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body{
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $black;
    line-height: $line-height;
}

.main{
    flex-grow: 1;
}

.footer{
    flex-grow: 0;
}

.container{
    max-width: $container-width;
    padding-inline: $container-padding-inline;
    margin: 0 auto;
    min-width: $container-min-width;
}
