@mixin media-max-width($width){
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin media-min-width($width){
    @media only screen and (min-width: ($width + 1px)) {
        @content;
    }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
