$container-padding-inline: 15px;
$container-width: calc(1400px + $container-padding-inline * 2);
$container-min-width: 320px;

$font-family: 'Golos Text', sans-serif;
$font-family-second: 'Mulish', sans-serif;
$font-size-mobile: 14px;
$font-size-desk: 19px;
$font-weight: 500;
$line-height: 111%;

$accent: #1c8e00;
$font-color: #243628;
$white: #fff;

//breakpoints max-width
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: calc(1400px + $container-padding-inline * 2);
