$container-padding-inline: 15px;
$container-width: calc(1400px + $container-padding-inline * 2);
$container-min-width: 320px;

$font-family: 'Roboto', sans-serif;
$font-size: 18px;
$font-weight: 400;
$line-height: 1.5;
$transition: all .3s ease;

$black: #262f34;
$red: #f55449;

//breakpoints max-width
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: calc(1400px + $container-padding-inline * 2);
